.gridLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.checkBtn {
    width: 75px;
    height: 25px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background:#e99f62;
    color: #fff;
    cursor: pointer;
}

.checkBtn:hover {
    background: #d4782c;
}