.room-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createRoomBox {
    margin: 1rem;
}

.rooms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
}
.createRoomBox input{
    width: 210px;
    height: 40px;
    margin: 7px;
    border: 2px solid #f77707d6;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}
.createRoomBox button{
    width: 225px;
    height: 54px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background:#e99f62;
    color: #fff;
    cursor: pointer;
}
.createRoomBox button:hover{
    background: #d4782c;
  }

  .joinRoomBtn {
    width: 75px;
    height: 25px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background:#e99f62;
    color: #fff;
    cursor: pointer;
  }

  .joinRoomBtn:hover {
    background: #d4782c;
  }